/* fonts */
@font-face {
  font-family: Hamburger;
  src: url(../font/Hamburger.ttf);
}

/* base styles */

html {
  font-family: "Hamburger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #fed;
  text-shadow: black 5px 5px;
  text-align: center;
  background: #113;
  background: linear-gradient(45deg, #113, #101);
}

body {
  margin: 0;
}

h1 {
  font-size: 70px;
}

p {
  margin: 0 0 10px 0;
}

#container {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

/* threejs container styles */
#example-container {
  position: absolute;
  background:#111;
  padding: 20px;
  height: 80%;
  width: 90%;
}

#threejs-container {
  position: relative;
  background:#000;
  color: #666;
  text-align: center;
  width: 100%;
  height: 100%;
}

#threejs-container canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
